:root{
    --bgc: rgb(255, 187, 187);
    --square-bgc-hover:rgb(255, 254, 217);
    --square-bgc:rgb(254, 248, 82);
    background-color: var(--bgc);
    
}
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 4rem; 
}
#hero button {
    width: 7rem;
    height: 2rem;
    margin-bottom: 15px;
    border-radius: 10px;
    opacity: 0.5;
    
    

}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.selection {
    display: flex;
    height: 100px;
    width: 100px;
    border: solid 2px var(--bgc);
    background-color: var(--square-bgc);
    font-size: 7rem;
    justify-content: center;
    align-items: center;

}

.selection:hover{
    background-color: var(--square-bgc-hover);

}